body {
    /* fallback for old browsers */
    background: #1f1388;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
     
}
