body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Oxanium", sans-serif;
  background-color: #1f1388;
}

section {
  flex: 1; /* Expande para ocupar o espaço restante, empurrando o footer para baixo */
}

  #main-content {
    flex: 1; /* Ocupa o espaço restante */
}

  .total{
    font-size: 30px;
    letter-spacing: 2px;
  }

  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

    html{
      scroll-behavior: smooth;
    }
    

    /* Back to top button */


.whatsapp-link {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 30px;
  right: 10px;
  color: #d3c011;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Coloca o valor abaixo do ícone */
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombras para dar profundidade */
  border: 2px solid #d3c011; /* Moldura ao redor */
}

.whatsapp-link .total {
  font-size: 7px; /* Tamanho menor para o valor */
  color: #404F5E; /* Cor do valor */
  margin: 0; /* Remove margens ao redor */
}

header {
  position: fixed;
  top: 0; /* Posiciona o header no topo da página */
  left: 0; /* Alinha o header à borda esquerda */
  width: 100vw; /* Largura total da janela de visualização */
  height: 70px; /* Altura do header, ajuste conforme necessário */
  z-index: 1000;
  background-color: #F8F9FA; /* Cor de fundo do header */
  color: white; /* Cor do texto */
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombras para dar profundidade */
}


footer {
  text-align: center;
  padding: 1rem;
  background-color: #F8F9FA; /* Cor de fundo do footer */
  color: #000000; /* Cor do texto */
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2); /* Sombras para dar profundidade */
  width: 100%;
  
}

.margem {
  margin-top: 15px;
}

#loadingSpinner {
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-size{
  font-size: 10px;
}