<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/img/1bavex.png" type="image">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Grêmio Falcão</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
<!-- HEADER-->
 <header>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="static/img/1bavex.png" alt="" width="26" height="26" class="d-inline-block align-text-top">
          Grêmio Falcão
          <button onclick="rolarParaCategoria('bebida')" class="btn btn-sm btn-outline-secondary" type="button">Bebidas</button>
          <button onclick="rolarParaCategoria('comida')" class="btn btn-sm btn-outline-secondary" type="button">Comidas</button>
          <button href="#finalizar" href="#" onclick="scrollToFooter()" class="btn btn-outline-success me-2" type="button">Finalizar</button>
        </a>
      </div>
    </nav>
  </header>
<!-- FIM DO HEADER-->

    <section class="h-100 h-custom shadow">
      <div class="container py-5 h-100 shadow" >
        <div class="row d-flex justify-content-center align-items-center h-100" >
          <div class="col">
            <div class="card">
              <div class="card-body p-4">
    
                <div class="row">
    
                  <div class="col-lg-7 ">
                    
                    <hr>
                    <div class="navegacao d-flex  align-items-center mb-4">
                      <div>
                        <p class="mb-1">Indenizáveis - Carrinho de Compras</p>
                      </div>
                    </div>
                    
                    <div id="containerList">
                      <!--Onde será renderizado os produtos-->
                    </div>

                  <!-- Caixa de seleção-->
                  </div>
                  <div class="col-lg-5">
    
                    <section id="finalbox">
                    <div class="card bg-primary text-white rounded-3 shadow">
                      <div class="card-body shadow">
    
                        <form id="finalizarVenda" class="mt-4">
                          <div data-mdb-input-init class="form-outline form-white mb-4">
                            <label class="form-label" for="typeName">Selecione a conta:</label>
                            <div class="form-group">
                              <select class="form-control" name="nome" id="listaPessoal" required>
                                <!--renderiza a lista de pessoas aqui-->
                              </select>
                            </div>
                          </div>
                
                          <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total</p>
                            <strong><p class="mb-2 total">R$0,00</p></strong>
                          </div>
      
                          <button type="button" id="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                              <strong><span>FINALIZAR <i class="fas fa-long-arrow-alt-right ms-2"></i></span></strong>
                            </div>
                          </button>
    
                        </form>
                      </section>

                        <!-- Modal para exibir confirmação -->
                    <div class="modal fade" id="detalhesConfirmacao" tabindex="-1" aria-labelledby="detalhesConfirmacao" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="detalhesTarefaModalLabel" style="color: black;">Confirmação Pagamento</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body" id="modal-body" style="color: black">
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" id="cancelar" data-bs-dismiss="modal">Cancelar</button>
                                  <button type="button" class="btn btn-primary" id="confirmar">Confirmar</button>
                              </div>
                          </div>
                      </div>
                    </div>

    
                        <hr class="my-4">
                      </div>
                    </div>
    
                  </div>
    
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer">
        <div class="text-center p-3">
          © 2024 Copyright:
          <a class="text-body" href="https://github.com/gabriel-melgaco?tab=repositories" target="blank">MEG_DEV_</a>
          <a href="/pagina_login"><i class="fa-solid fa-gear"></i></a>
        </div>
      </footer>
    
      <a class="whatsapp-link" href="#" onclick="scrollToFooter()"><i class="fa-solid fa-basket-shopping"></i><p class="totalValor">R$0,00</p></a>

    </section>
      <script src="/static/js/bootstrap.js"></script>
      <script src="/static/js/index.js"></script>
      <!-- Font Awesome -->
      <script src="https://kit.fontawesome.com/9cf3f4ac1c.js" crossorigin="anonymous"></script>
      
  </body>
</html>