<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Grêmio Falcão</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <section class="h-100 h-custom shadow" style="background-color: #1f1388;">
      <div class="container py-5 h-100 shadow" >
        <div class="row d-flex justify-content-center align-items-center h-100" >
          <div class="col">
            <div class="card">
              <div class="card-body p-4">
    
                <div class="row">
    
                  <div class="col-lg-7 ">
                    <img src="static/img/1bavex.png" class="img-fluid mx-auto d-block" width="90" height="90">
                    
                    <hr>
                    <div class="d-flex  align-items-center mb-4">
                      <div>
                        <p class="mb-1">Indenizáveis Grêmio Falcão - Carrinho de Compras</p>
                        <p class="mb-0 align-items-center text-right"><span class="text-muted text-right">Ordenar por:</span> <a href="#!"
                          class="text-body"> <i class="fas fa-angle-down mt-1"></i></a></p>
                      </div>
                    </div>
                    <!-- Início da lista de itens -->
                    <div class="card mb-3 shadow">
                      <div class="card-body">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                  <div>
                                      <img
                                          src="/static/img/coca-cola.png"
                                          class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                  </div>
                                  <div class="ms-3">
                                      <h5>Coca-Cola</h5>
                                  </div>
                              </div>
                              <div class="d-flex flex-row align-items-center">
                                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                      <i class="fas fa-minus"></i>
                                  </button>
                  
                                  <input id="form1" min="0" name="quantity" value="0" type="number"
                                         class="form-control form-control-sm w-50" style="max-width: 50px;" />
                  
                                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                      <i class="fas fa-plus"></i>
                                  </button>
                  
                                  <div style="width: 80px;">
                                      <h5 class="mb-0">R$2,50</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Caixa de seleção-->
                  </div>
                  <div class="col-lg-5">
    
                    <div class="card bg-primary text-white rounded-3 shadow">
                      <div class="card-body shadow">
    
                        <form class="mt-4">
                          <div data-mdb-input-init class="form-outline form-white mb-4">
                            <label class="form-label" for="typeName">Selecione a conta:</label>
                            <div class="form-group">
                              <select class="form-control" name="nome" id="nome">
                                <option value="-">-</option>
                                <option value="MELGAÇO">MELGAÇO</option>
                                <option value="ALEF">ALEF</option>
                                <option value="GILSON">GILSON</option>
                              </select>
                            </div>
                          </div>
                
                          <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total</p>
                            <strong><p class="mb-2 total">R$4818.00</p></strong>
                          </div>
      
                          <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                              <strong><span>FINALIZAR <i class="fas fa-long-arrow-alt-right ms-2"></i></span></strong>
                            </div>
                          </button>
    
                        </form>
    
                        <hr class="my-4">
                      </div>
                    </div>
    
                  </div>
    
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(255, 255, 255);">
          © 2024 Copyright:
          <a class="text-body" href="https://github.com/gabriel-melgaco?tab=repositories" target="blank">MEG_DEV_</a>
          <a href="/login"><i class="fa-solid fa-gear"></i></a>
        </div>
        <!-- Copyright -->
      </footer>
    </section>
      <script src="/static/js/bootstrap.js"></script>
      <script src="/static/js/index.js"></script>
      <!-- Font Awesome -->
      <script src="https://kit.fontawesome.com/9cf3f4ac1c.js" crossorigin="anonymous"></script>
  </body>
</html>